@page "/acceso-denegado"

<h1>Acceso Denegado</h1>
<p>No tienes permiso para acceder a esta página.</p>
<p>Si crees que esto es un error, por favor contacta al administrador del sistema.</p>


@code {
    protected override void OnInitialized()
    {
        // Aquí puedes agregar lógica adicional si es necesario
        // Por ejemplo, redirigir después de un tiempo
        // NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}