@namespace TruequeTextil.Shared.Components.UI

<span class="badge rounded-pill bg-secondary @Class" @attributes="AdditionalAttributes">
    @ChildContent
</span>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object?> AdditionalAttributes { get; set; } = new
    Dictionary<string, object?>();
}
